body {
	background: url(../images/concrete.png);
  	background-repeat: repeat;
	background-size: 30%;
}

hr {
	background: lightgrey;
	height: 4px;
	border: none;
}


.leftBox {
	border: solid teal 1px;
	float: left;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 34px;
	width: 270px;
	height: 200px;
	position: relative;
}

.rightBox {
	border: solid teal 1px;
	float: right;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 34px;
	width: 270px;
	height: 200px;
	position: relative;
}

.imageBox img{
	width: 270px;
}

.boxLabel {
    width: 270px;
    background: teal;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 10px;
}

@media only screen and (max-width: 640px) {
	#pageBody {
		width: 100%;
		margin: 0 auto;
	
	}
	.connect {
		width: 100%;

	}
	#about, #contact, #portfolio {
		width: 100%;
	}
	input {
		width: 100%;
	}
	#contact textarea {
		width: 100%;
	}
}